#Canvas-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 50%;
  width: 50%;
  margin-bottom: 8rem;
  margin-top: -80px;
}

@media screen and (max-width: 666px) {
  #Canvas-container {
    height: 70%;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  #Canvas-container {
    margin-bottom: 4rem;
    margin-top: -190px;
  }
}

@media screen and (max-width: 326px) {
  #Canvas-container {
    margin-bottom: 4rem;
    margin-top: -290px;
  }
}
